{% extends 'base.html' %}

{% block content %}
    <h1>Сайты</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <tbody>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
            {% for site in sites %}
                <tr>
                    <td>{{ site.id }}</td>
                    <td><a href="{{ url_for('url', id=site.id) }}">{{ site.name }}</a></td>
                    <td>{{ site.created_at.strftime('%Y-%m-%d') if site.created_at }}</td>
                    <td>{{ site.status_code if site.status_code }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
